header{
  background-color: var(--bg-color);
  color: var(--fore-color);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
  color: var(--fore-color);
  text-decoration: none;
  margin-right: 10px;
}